@namespace ProjectBullet.UI.HUD
@using ProjectBullet.MapEnts
@using Sandbox
@using Sandbox.UI
@inherits Sandbox.UI.Panel;

<style>
    MoneyAreaMarker {
        position: absolute;
        
        flex-direction: column; 
        align-items: center;
        
        font-family: Inter;
        font-weight: normal;
        color: white;      
    }
</style>

<root>
    @if (MoneyArea == null)
    {
        return;
    }

    <div>@Distance</div>
    <Corner thickness="2" length="15" style="margin-top: 5px">
        <div style="font-size: 20px">🪙</div>
    </Corner>
</root>

@code {
    public MoneyArea MoneyArea { get; set; }
    private static float RootScaleFromScreen => Game.RootPanel.ScaleFromScreen;
    public float Distance = 0.0f;

    private void UpdatePosition()
    {
        if (MoneyArea == null)
        {
            return;
        }

        var worldPosition = MoneyArea.Position;

        worldPosition.z += 64;

        var screenPosition = worldPosition.ToScreen();

        screenPosition.x *= Screen.Width;
        screenPosition.y *= Screen.Height;

        screenPosition.x -= Box.Rect.Width / 2;
        screenPosition.y -= Box.Rect.Height / 2;

        screenPosition.x *= RootScaleFromScreen; // screen position -> panel position
        screenPosition.y *= RootScaleFromScreen;

        Style.Left = Length.Pixels(screenPosition.x); // set panel position!
        Style.Top = Length.Pixels(screenPosition.y);
    }

    public override void Tick()
    {
        base.Tick();

        UpdatePosition();

        Distance = Util.LocalPlayer.EyePosition.WithZ(0)
            .Distance(MoneyArea.Position.WithZ(0))
            .Floor();

        StateHasChanged();
    }

}