@import "/UI/Constants.scss";

.button {
    font-family: $generic-font-family;
    font-weight: bold;
    font-size: 20px;
    
    padding: 6px;
	margin-right: 5px;
	
	background-color: transparent;
	color: white;
	
    border: 1px solid white;
	border-radius: 4px;
	
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgb(210, 210, 210);
        color: black;
    }

    &:active {
        left: -2px; bottom: -2px;
    }
}
