/* Time given to workshop to open */
$workshop-transition-time: 0.30s;

/* Time given to other elements to hide before opening workshop */
$hide-transition-time: 0.23s;

/* Time given to death feed entries to hide */
$death-entry-transition-time: 0.5s;

/* Main font family */
$generic-font-family: Inter;