@using Sandbox;
@using Sandbox.UI;
@namespace ProjectBullet.UI

<style>

    .health {
        font-size: 100px;
    }
    
</style>

<root class="card">
    <div class="health">
        <label>@Health</label>
    </div>
</root>

@code
{
    public float Health => Local.Pawn?.Health ?? 0.0f;
}