ContextMenu {
    width: 300px;
    min-height: 500px;
    position: absolute;
    transition: all 0.08s ease-in;
    opacity: 1;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border: rgba(255, 255, 255, 0.4) 4px solid;
    padding: 7px;
    
    /* Menu font styling */
    font-family: Inter;
    font-weight: bold;
    
    /* Flex stuff */
    flex-direction: column;
    overflow: scroll;
    
    &:intro {
        opacity: 0;
    }

    &:outro {
        opacity: 0;
    }
    
    .group {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        
        border-radius: 3px;
        flex-direction: column;
        
        .title {
            width: 100%;
            height: 25px;
            color: black;
            font-size: 18px;
            padding: 5px;

            border-radius: 3px;
        }
        
        padding: 5px;
        
        overflow: scroll;
        
        &.horizontal {
            flex-direction: row;
        }
        
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
    
    .item {
        width: 100%;
        height: 45px;
        color: black;
        font-size: 18px;
        padding: 5px;
        
        border-radius: 3px;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    .center-text-container {
        align-items: center;
        justify-content: center;
    }
    
    .info-text {
        color: rgba(0, 0, 0, 0.3);
    }
}
