@using System.Linq
@using ProjectBullet.Players
@using ProjectBullet.Weapons
@using Sandbox;
@using Sandbox.UI;
@namespace ProjectBullet.UI.Editor
@attribute [StyleSheet("/UI/Editor/EditorView.scss")]

@code {
    public Weapon SelectedWeapon => (Local.Pawn as ClassBase).Weapons.First();
}

<root>
    <div class="content">
        <NodeGraph Weapon=@SelectedWeapon/>
    </div>
</root>