@using System.Linq
@using ProjectBullet.Weapons
@using Sandbox;
@using Sandbox.UI;
@using Player = ProjectBullet.Players.Player
@namespace ProjectBullet.UI.Editor
@attribute [StyleSheet("/UI/Editor/EditorView.scss")]

@code {
    public Weapon SelectedWeapon => (Local.Pawn as Player).Weapons.Single();
}

<root>
    <div class="content">
        <NodeGraph Weapon=@SelectedWeapon/>
    </div>
</root>