GraphVisualizer {
    position: relative;

    width: 100%;
    height: 100%;

    z-index: 30;
    
    transition: all 0.18s ease-in;
    
    background: radial-gradient(rgba(15, 19, 26, 0.99) 0%, rgba(15, 19, 26, 1) 50%, rgba(15, 19, 26, 1) 35%, rgba(15, 19, 26, 1) 50%);
    background-size: 15px;
    background-repeat: repeat;

    pointer-events: all;
    
    &:outro {
        top: 100%;
    }

    &:intro {
        transition: all 0.25s ease-out;
        opacity: 0;
        filter: blur(5px);
        transform: scale(1.3);
    }
}