@using Sandbox.UI;
@namespace ProjectBullet.UI.Editor
@inherits Sandbox.UI.Panel
@attribute [StyleSheet("/UI/Editor/GraphVisualizer.scss")]

@code {

    public InventoryMenu InventoryMenu { get; set; }

}

<root>
    <div style="position: absolute; z-index: 2; top: 10px; left: 10px">
        <MainMenu GraphVisualizer=@this/>
    </div>
    <div style="position: absolute; z-index: 2; top: 10px; right: 10px; flex-direction: row-reverse;">
        <div>
            <InventoryMenu GraphVisualizer=@this @ref=InventoryMenu/>
        </div>
    </div>
</root>