@using System.Collections.Generic
@using System.Linq
@using ProjectBullet.Core.Node
@using Sandbox.UI;
@namespace ProjectBullet.UI.Editor
@attribute [StyleSheet("/UI/Editor/Menu.scss")]

@code {
    public GraphVisualizer GraphVisualizer { get; set; }

    public IEnumerable<NodeExecutor> SwitchableExecutors =>
        Util.LocalPlayer.NodeExecutors.Where(v => v != @GraphVisualizer.NodeExecutor);

}

<root class="menu">
    @if (GraphVisualizer == null)
    {
        return;
    }

    <div class="group">
        <div class="title">
            <div class="center-text-container">
                <div class="info-text">editing @GraphVisualizer.NodeExecutor.DisplayName</div>
            </div>
        </div>

        @foreach (var executor in SwitchableExecutors)
        {
            <div class="item" @onclick=@(() => { @GraphVisualizer.SwitchNodeExecutor(executor); })>
                <div class="center-text-container">
                    <div style="justify-content: space-between; width: 100%">
                        <div class="info-text">switch...</div>
                        <div>
                            @executor.DisplayName
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</root>