@using Sandbox;
@using Sandbox.UI;
@namespace ProjectBullet.UI.Editor
@attribute [StyleSheet("/UI/Editor/Node.scss")]

<root class="node">
    @if (GraphableWeaponPart == null)
    {
        return;
    }
    <div class="header">
        <div class="title-container">
            <div class="title" style="text-align: left">@GraphableWeaponPart.DisplayName</div>
        </div>
        <div class="title-container energy">
            @if (GraphableWeaponPart.EnergyUsage != 0)
            {
                <div class="title" style="text-align: center">⚡@GraphableWeaponPart.EnergyUsage</div>
            }
        </div>
    </div>
    <div class="content">
        <div style="right: 25px; width: 50px" class="handle-container">
            @if (!GraphableWeaponPart.OutputOnly && GraphableWeaponPart.Input != null)
            {
                <NodeInput GraphableInput=@GraphableWeaponPart.Input/>
            }
        </div>

        @if (GraphableWeaponPart.Outputs == null)
        {
            return;
        }

        <div style="left: 15px;" class="handle-container">
            @foreach (var graphableOutput in GraphableWeaponPart.Outputs)
            {
                <div class="output">
                    <div class="center-text-container">
                        @graphableOutput.DisplayName
                    </div>
                    <div style="width: 3px"/>
                    <NodeOutput style="width: 30px" GraphableOutput=@graphableOutput></NodeOutput>
                </div>
            }
        </div>
    </div>
</root>