@using ProjectBullet.Weapons
@using Sandbox;
@using Sandbox.UI;
@namespace ProjectBullet.UI.Editor
@attribute [StyleSheet("/UI/Editor/NodePlaceholder.scss")]

<root>
    <div class="header">
        <div class="title-container">
            <div class="title" style="text-align: left">@PartInventoryItem.PartDescription.DisplayName</div>
        </div>
        <div class="title-container energy">
            <div class="title" style="text-align: center">⚡@PartInventoryItem.PartDescription.EnergyUsage</div>
        </div>
    </div>
    <div class="content center-text-container">
        @PartInventoryItem.PartDescription.DisplayDescription
    </div>
</root>

@code {
    public PartInventoryItem PartInventoryItem { get; set; }
}
