NodePlaceholder {
    background-color: #ececec;
    margin-top: 18px;
    min-height: 80px;
    width: 94%;
    transition: all 0.05s ease-out;
    flex-direction: column;
    border-radius: 13px;
    /* todo: this sucks */
    border-top: 2px solid #ececec;
    border-left: 4px solid #ececec;
    border-right: 4px solid #ececec;
    border-bottom: 4px solid #ececec;
    font-family: Inter;
    font-weight: bold;

    &:hover {
        transform: translateX(13);
    }

    .header {
        justify-content: space-between;

        .title-container {
            align-items: center;
            justify-content: center;
            padding: 4px 8px;

            .title {
                color: black;
                font-size: 28px;
            }
        }
    }

    .content {
        padding: 1px 8px;
    }

    &:outro {
        transition: all 0.25s ease-out;
        background-color: red;
        opacity: 0;
        filter: blur(5px);
        transform: scale(1.3);
    }
}
