@namespace ProjectBullet.UI.WorkshopElements
@using System
@using System.Collections.Generic
@using System.Linq
@using ProjectBullet.Core.Node
@using ProjectBullet.Core.Shop
@using Sandbox
@using Sandbox.UI
@using ProjectBullet.UI.Helpers
@inherits Sandbox.UI.Panel
@attribute [StyleSheet("/UI/WorkshopElements/ContextMenu.scss")]

@code {

    static IEnumerable<NodeExecutor> SwitchCandidates => Util.LocalPlayer.NodeExecutors.Where(v => v != Util.Workshop.Controller.NodeExecutor);
    
}

<root>
    <div class="container">
        <div class="header">
            
        </div>
    </div>
</root>

@code {

    private Panel NavPanel { get; set; }
    
    enum CurrentPage
    {
        Inventory = 0,
        Shop
    }

    private CurrentPage _currentPage = CurrentPage.Inventory;

    private void ChangePage(object eventObject)
    {
        var e = (MousePanelEvent)eventObject;

        var target = e.This;

        Log.Info(target);

        var page = GetElementPageValue(target);

        if (page == null)
        {
            return;
        }

        _currentPage = page.Value;

        foreach (var child in NavPanel.Children)
        {
            child.SetClass("selected", GetElementPageValue(child) == page);
        }
    }

    private static CurrentPage? GetElementPageValue(Panel panel)
    {
        var attribute = panel.GetAttribute("page");
        if (attribute == null)
        {
            return null;
        }

        return Enum.Parse<CurrentPage>(attribute, true);
    }
}