@namespace ProjectBullet.UI.WorkshopElements
@using ProjectBullet.UI.Helpers
@using Sandbox.UI
@inherits Sandbox.UI.Panel;
@attribute [StyleSheet("/UI/WorkshopElements/EditMenu.scss")]

<root>
    <Corner class="@Util.WorkshopOpenClass">
        <div>edit</div>
        <div style="padding: 5px">↶</div>
        <div style="padding: 5px">↷</div>
    </Corner>
</root>