@using Sandbox.UI;
@namespace ProjectBullet.UI.Workshop
@inherits Sandbox.UI.Panel
@attribute [StyleSheet("/UI/Editor/GraphNode.scss")]

<root>
    <div class="header">
        <div class="title-container">
            <div class="title" style="text-align: left">@NodeData.DisplayName</div>
        </div>
        <div class="title-container energy">
            @if (NodeData.Instance != null)
            {
                <div class="title" style="text-align: center">⚡@NodeData.Instance.EnergyUsage</div>
            }
        </div>
    </div>
    <div class="content">
        <div style="right: 25px; width: 50px" class="handle-container">
            @if (NodeData is not PreInstanceGraph.EntryNode)
            {
                <GraphNodeIn GraphNode=@this/>
            }
        </div>

        <div style="left: 15px;" class="handle-container">
            @foreach (var connector in NodeData.Connectors)
            {
                <div class="output">
                    <div class="center-text-container">
                        ⚡@(connector.LastEstimatedEnergyOutput ?? 0.0f)
                    </div>
                    <div style="padding-left: 3px; padding-right: 3px">-</div>
                    <div class="center-text-container">
                        @connector.DisplayName
                    </div>
                    <div style="width: 3px"/>
                    <GraphNodeOut style="width: 30px" Connector=@connector/>
                </div>
            }
        </div>
    </div>
</root>