@using System.Collections.Generic
@using System.Linq
@using ProjectBullet.Core.Node
@using Sandbox.UI;
@inherits Sandbox.UI.Panel
@namespace ProjectBullet.UI.Workshop
@attribute [StyleSheet("/UI/Editor/Menu.scss")]

@code {
    public GraphVisualizer GraphVisualizer { get; set; }
    public List<WeaponNode> GraphInventory => GraphVisualizer.GraphController.GraphInventory;
}

<root class="menu">
    @if (GraphVisualizer == null)
    {
        return;
    }

    <div class="group">
        <div class="title">
            <div class="center-text-container">
                <div class="info-text">inventory @(!GraphInventory.Any() ? "empty" : "")</div>
            </div>
        </div>
        @foreach (var weaponNodeEntity in GraphInventory)
        {
            <div class="item" @onclick=@(() => { GraphVisualizer.GraphController.AddToGraph(weaponNodeEntity); })>
                <div class="center-text-container">
                    <div style="justify-content: space-between; width: 100%">
                        <div class="info-text">add...</div>
                        <div>
                            @weaponNodeEntity.Description.NodeAttribute.DisplayName
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</root>