@import "/UI/Constants.scss";

MoneyAreaMarker {
    position: absolute;

    flex-direction: column;
    align-items: center;

    font-family: $generic-font-family;

    color: white;
    opacity: 1;

    transition: opacity $hide-transition-time ease-in-out, transform $hide-transition-time ease-in-out;

    &.workshop-open {
        opacity: 0;
        transform: rotateY(90deg);
    }
}